@page
@model WebApplication1.Pages.People.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>People</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="People.Id" />
            <div class="form-group">
                <label asp-for="People.FirstName" class="control-label"></label>
                <input asp-for="People.FirstName" class="form-control" />
                <span asp-validation-for="People.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.MiddleName" class="control-label"></label>
                <input asp-for="People.MiddleName" class="form-control" />
                <span asp-validation-for="People.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.LastName" class="control-label"></label>
                <input asp-for="People.LastName" class="form-control" />
                <span asp-validation-for="People.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.ClientTypeId" class="control-label"></label>
                <select asp-for="People.ClientTypeId" class="form-control" asp-items="ViewBag.ClientTypeId"></select>
                <span asp-validation-for="People.ClientTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.ContactTypeId" class="control-label"></label>
                <select asp-for="People.ContactTypeId" class="form-control" asp-items="ViewBag.ContactTypeId"></select>
                <span asp-validation-for="People.ContactTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.SupportStaff" class="control-label"></label>
                <input asp-for="People.SupportStaff" class="form-control" />
                <span asp-validation-for="People.SupportStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.PhoneNumber" class="control-label"></label>
                <input asp-for="People.PhoneNumber" class="form-control" />
                <span asp-validation-for="People.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People.EmailAddress" class="control-label"></label>
                <input asp-for="People.EmailAddress" class="form-control" />
                <span asp-validation-for="People.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="People.Enabled" /> @Html.DisplayNameFor(model => model.People.Enabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="People.CreatedDate" class="control-label"></label>
                <input asp-for="People.CreatedDate" class="form-control" />
                <span asp-validation-for="People.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
